@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
}

h4 {
    text-transform: uppercase;
    font-size: 15px;
}

a,
.btn {
  transition: all 300ms ease;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  text-transform: uppercase;
  font-size: 16px;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 26px;
  text-transform: uppercase;
  color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

.logo:hover {
  cursor: default;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* =========================================================================== */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
  
.section-container {
  display: flex;
}
  
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
  
.section__pic-container {
  display: flex;
  height: 350px;
  width: 350px;
  margin: auto 0;
}
  
.section__pic-container img {
  border-radius: 50%;
}

.section__text {
  align-self: center;
  text-align: center;
}
  
.section__text p {
  font-weight: 600;
  text-transform: uppercase;
}
  
.section__text__p2 {
  font-size: 17px;
  margin-bottom: 1rem;
}
  
.title {
  font-size: 2.8rem;
  text-align: center;
  text-transform: uppercase;
  color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);   
}
  
#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
 }
  
.icon {
  cursor: pointer;
  height: 2rem;
}
  
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}
  
.btn-color-1 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
  
.btn-color-1:hover {
  background: rgb(53, 53, 53);
  color: white;
  cursor: pointer;
}

.work-info-contents {
  text-align: justify;
}

.projects {
  margin-top:600px;
}

.contenitore {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  margin-top:1px;
  background: linear-gradient(135deg, #f7f7f7, #cacacc); 
  color: rgb(5, 5, 5);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: bold;
}

.skill:hover {
  transform: scale(1.1);
}

.images img:hover {
  transform: scale(1.05); 
  opacity: 0.8;
}

.contacts-content {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.contacts-form {
  width: 40%;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

.input-label {
  font-size: 20x;
  font-weight: 600;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.input-field {
  font-family: 'Work Sans', sans-serif;
  font-size:12px;
  color:#41403e;
  background-color: azure;
  padding: 12px 16px;
  width: 100%;
  border: none;
  border-radius: 30px;
  margin-top: 8px;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
}

.textarea {
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  color: #41403e;
  background-color: azure;
  padding: 12px 16px;
  width: 100%;
  border: none;
  border-radius: 30px;
  margin-top: 8px;
  margin-bottom: 16px;
  height: 200px; 
  overflow-y: auto; 
}

.project-list {
  list-style-type: none;
  padding: 0;  
}

.project-item {
  margin-bottom: 20px;
  border: none; 
  border-radius: 15px;
  padding: 15px; 
  background: linear-gradient(135deg, #f7f7f7, #cacacc); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s, opacity 0.3s, box-shadow 0.3s, background 0.3s; 
  color: rgb(37, 35, 35); 
}

.project-item:hover {
  transform: translateY(-5px); 
  opacity: 0.9; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.project-item a {
  font-size: 12px;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#111111;
  font-weight: bold;
  font-size: 14px;
}

.info-toggle {
  cursor: pointer;
  color: #333;
  font-size: 13px;
  font-weight: bold;
}

.pdf-link {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.project-description {
  display: none;
  text-align: justify;
  font-size: 12px;
}

.project-item.expanded .project-description {
  display: block;
}

.github-link {
  display: inline-block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.github-link:hover {
  display: inline-block;
  margin-top: 10px;
  color: #e27474;
  text-decoration: none;
}

.github-link i {
  margin-right: 5px;
  font-size: 18px;
}

/* ====================== BUTTON-55 ====================== */

.button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}
  
.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
  
footer {
    background-color: rgb(53, 50, 50);
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 13px;
    margin-top: 10px;
    color:white;
}

footer .social {
    margin-top: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}
